<div
    class="surface-ground align-items-center justify-content-center min-w-screen flex min-h-screen overflow-hidden"
>
    <div class="flex-column align-items-center justify-content-center flex">
        <div
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="surface-card w-full px-5 py-8 sm:px-8"
                style="border-radius: 53px"
            >
                <div class="mb-5 text-center">
                    <img
                        src="assets/layout/images/{{
                            layoutService.config.colorScheme === 'light'
                                ? 'logo-dark'
                                : 'logo-white'
                        }}.svg"
                        alt="zalo-mini-dashboard logo"
                        class="mb-5 inline-block w-6 flex-shrink-0"
                    />
                    <div class="text-900 mb-3 text-3xl font-medium">
                        Chào mừng bạn đến với xyz!
                    </div>
                    <span class="text-xl font-medium"
                        >Đây là lần đầu tiên đăng nhập của bạn</span
                    >
                    <br />
                    <span class="text-base font-semibold text-primary"
                        >Vui lòng đổi mật khẩu để được tiếp tục!</span
                    >
                </div>

                <div>
                    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label
                                for="defaultPassword"
                                class="text-900 mb-2 block text-xl font-medium"
                                >Mật khẩu được cung cấp qua mail</label
                            >
                            <p-password
                                id="defaultPassword"
                                formControlName="defaultPassword"
                                placeholder="Mật khẩu"
                                [toggleMask]="true"
                                styleClass="w-full"
                                inputStyleClass="w-full p-3"
                            ></p-password>
                            <div
                                *ngIf="
                                    defaultPassword.invalid &&
                                    (defaultPassword.dirty ||
                                        defaultPassword.touched)
                                "
                            >
                                <small
                                    class="text-red-600"
                                    *ngIf="defaultPassword.errors?.['required']"
                                    >*Mật khẩu được cung cấp qua mail là bắt
                                    buộc</small
                                >
                            </div>
                        </div>

                        <div class="mb-3">
                            <label
                                for="password"
                                class="text-900 mb-2 block text-xl font-medium"
                                >Mật khẩu mới</label
                            >
                            <p-password
                                id="password"
                                formControlName="password"
                                placeholder="Mật khẩu"
                                [toggleMask]="true"
                                styleClass="w-full"
                                inputStyleClass="w-full p-3"
                            >
                                <ng-template pTemplate="footer">
                                    <p-divider></p-divider>
                                    <ul
                                        class="ml-2 mt-0 list-disc pl-2"
                                        style="line-height: 1.5"
                                    >
                                        <li>Tối thiểu 8 kí tự</li>
                                    </ul>
                                </ng-template>
                            </p-password>
                            <div
                                *ngIf="
                                    password?.invalid &&
                                    (password?.dirty || password?.touched)
                                "
                            >
                                <small
                                    class="text-red-600"
                                    *ngIf="password?.errors?.['required']"
                                    >*Mật khẩu là bắt buộc</small
                                >
                                <small *ngIf="password?.errors?.['minlength']"
                                    >Mật khẩu cần tối thiểu 8 kí tự</small
                                >
                            </div>
                        </div>

                        <!-- confirm password -->
                        <div class="mb-3">
                            <label
                                for="confirmPassword"
                                class="text-900 mb-2 block text-xl font-medium"
                                >Xác nhận lại mật khẩu</label
                            >
                            <p-password
                                id="confirmPassword"
                                formControlName="confirmPassword"
                                placeholder="Mật khẩu"
                                [toggleMask]="true"
                                styleClass="w-full"
                                inputStyleClass="w-full p-3"
                            ></p-password>
                            <div
                                *ngIf="
                                    confirmPassword?.invalid &&
                                    (confirmPassword?.dirty ||
                                        confirmPassword?.touched)
                                "
                            >
                                <small
                                    class="text-red-600"
                                    *ngIf="
                                        confirmPassword?.errors?.['required']
                                    "
                                    >*Xác nhận lại mật khẩu là bắt buộc</small
                                >
                            </div>
                            <div
                                *ngIf="
                                    passwordForm.errors?.['passwordsMismatch']
                                "
                            >
                                <small class="italic text-red-600"
                                    >Mật khẩu không trùng khớp nhau!</small
                                >
                            </div>
                        </div>
                    </form>

                    <div class="mb-5 flex justify-end align-middle">
                        <a
                            href="https://xyz.vn/pages/lien-he"
                            class="ml-2 cursor-pointer text-right font-medium no-underline"
                            style="color: var(--primary-color)"
                            >Cần hỗ trợ?</a
                        >
                    </div>
                    <div
                        class="flex flex-col justify-center gap-3 align-middle"
                    >
                        <button
                            pButton
                            pRipple
                            label="Đổi mật khẩu"
                            class="w-full p-3 text-xl"
                            [routerLink]="['/']"
                            type="submit"
                            [disabled]="passwordForm.invalid"
                        ></button>
                        <button
                            pButton
                            pRipple
                            label="Thoát"
                            class="p-button-outlined w-full p-3 text-xl"
                            severity="help"
                            [routerLink]="['/']"
                        ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
