.star-0 {
  color: #dcdcdc;
}

.star-1 {
  color: #dcdcdc;
}

.star-2 {
  color: #dcdcdc;
}

.star-3 {
  color: #dcdcdc;
}

.star-4 {
  color: #dcdcdc;
}

.star-5 {
  color: #dcdcdc;
}

.star-6 {
  color: #dcdcdc;
}

.star-7 {
  color: #dcdcdc;
}

.star-8 {
  color: #dcdcdc;
}

.star-9 {
  color: #dcdcdc;
}

.star-10 {
  color: #dcdcdc;
}

.star-11 {
  color: #dcdcdc;
}

.star-12 {
  color: #dcdcdc;
}

.star-13 {
  color: #dcdcdc;
}

.star-14 {
  color: #dcdcdc;
}

.star-15 {
  color: #dcdcdc;
}

.star-16 {
  color: #dcdcdc;
}

.star-17 {
  color: #dcdcdc;
}

.star-18 {
  color: #dcdcdc;
}

.star-19 {
  color: #dcdcdc;
}

.star-20 {
  color: #dcdcdc;
}

.star-21 {
  color: #dcdcdc;
}

.star-22 {
  color: #dcdcdc;
}

.star-23 {
  color: #dcdcdc;
}

.star-24 {
  color: #dcdcdc;
}

.star-25 {
  color: #dcdcdc;
}

.star-26 {
  color: #dcdcdc;
}

.star-27 {
  color: #dcdcdc;
}

.star-28 {
  color: #dcdcdc;
}

.star-29 {
  color: #dcdcdc;
}

.star-30 {
  color: #dcdcdc;
}

.star-31 {
  color: #dcdcdc;
}

.star-32 {
  color: #dcdcdc;
}

.star-33 {
  color: #dcdcdc;
}

.star-34 {
  color: #dcdcdc;
}

.star-35 {
  color: #dcdcdc;
}

.star-36 {
  color: #dcdcdc;
}

.star-37 {
  color: #dcdcdc;
}

.star-38 {
  color: #dcdcdc;
}

.star-39 {
  color: #dcdcdc;
}

.star-40 {
  color: #dcdcdc;
}

.star-41 {
  color: #dcdcdc;
}

.star-42 {
  color: #dcdcdc;
}

.star-43 {
  color: #dcdcdc;
}

.star-44 {
  color: #dcdcdc;
}

.star-45 {
  color: #dcdcdc;
}

.star-46 {
  color: #dcdcdc;
}

.star-47 {
  color: #dcdcdc;
}

.star-48 {
  color: #dcdcdc;
}

.star-49 {
  color: #dcdcdc;
}

.star-50 {
  color: #dcdcdc;
}

.star-51 {
  color: #dcdcdc;
}

.star-52 {
  color: #dcdcdc;
}

.star-53 {
  color: #dcdcdc;
}

.star-54 {
  color: #dcdcdc;
}

.star-55 {
  color: #dcdcdc;
}

.star-56 {
  color: #dcdcdc;
}

.star-57 {
  color: #dcdcdc;
}

.star-58 {
  color: #dcdcdc;
}

.star-59 {
  color: #dcdcdc;
}

.star-60 {
  color: #dcdcdc;
}

.star-61 {
  color: #dcdcdc;
}

.star-62 {
  color: #dcdcdc;
}

.star-63 {
  color: #dcdcdc;
}

.star-64 {
  color: #dcdcdc;
}

.star-65 {
  color: #dcdcdc;
}

.star-66 {
  color: #dcdcdc;
}

.star-67 {
  color: #dcdcdc;
}

.star-68 {
  color: #dcdcdc;
}

.star-69 {
  color: #dcdcdc;
}

.star-70 {
  color: #dcdcdc;
}

.star-71 {
  color: #dcdcdc;
}

.star-72 {
  color: #dcdcdc;
}

.star-73 {
  color: #dcdcdc;
}

.star-74 {
  color: #dcdcdc;
}

.star-75 {
  color: #dcdcdc;
}

.star-76 {
  color: #dcdcdc;
}

.star-77 {
  color: #dcdcdc;
}

.star-78 {
  color: #dcdcdc;
}

.star-79 {
  color: #dcdcdc;
}

.star-80 {
  color: #dcdcdc;
}

.star-81 {
  color: #dcdcdc;
}

.star-82 {
  color: #dcdcdc;
}

.star-83 {
  color: #dcdcdc;
}

.star-84 {
  color: #dcdcdc;
}

.star-85 {
  color: #dcdcdc;
}

.star-86 {
  color: #dcdcdc;
}

.star-87 {
  color: #dcdcdc;
}

.star-88 {
  color: #dcdcdc;
}

.star-89 {
  color: #dcdcdc;
}

.star-90 {
  color: #dcdcdc;
}

.star-91 {
  color: #dcdcdc;
}

.star-92 {
  color: #dcdcdc;
}

.star-93 {
  color: #dcdcdc;
}

.star-94 {
  color: #dcdcdc;
}

.star-95 {
  color: #dcdcdc;
}

.star-96 {
  color: #dcdcdc;
}

.star-97 {
  color: #dcdcdc;
}

.star-98 {
  color: #dcdcdc;
}

.star-99 {
  color: #dcdcdc;
}

.star-100 {
  color: #dcdcdc;
}

.star-active {
  color: #bb2027;
}/*# sourceMappingURL=RateOrder.css.map */