<div>
    <div class="justify-center align-middle flex">
        <div class="card basis-full h-full">
            <div
                class="mb-5 mt-2 md:mt-0 flex align-middle justify-between gap-5"
            >
                <div class="w-full basis-4/5 relative">
                    <div class="w-full">
                        <span class="block p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                #searchInput
                                pInputText
                                type="number"
                                placeholder="Tìm kiếm khách hàng theo số điện thoại..."
                                class="w-full"
                                (keyup)="onKeyUp($event)"
                            />
                        </span>
                    </div>
                    <div class="absolute top-0 right-0">
                        <button
                            pButton
                            pRipple
                            icon="pi pi-times"
                            class="p-button-danger"
                            (click)="onResetSearch(searchInput)"
                        ></button>
                    </div>
                </div>
                <div>
                    <p-panelMenu
                        class="basis-1/5"
                        [model]="itemFilter"
                    ></p-panelMenu>
                </div>
            </div>
            <p-table
                dataKey="id"
                #dt
                [value]="customersProfilesItem"
                [columns]="cols"
                [paginator]="false"
                [rows]="10"
                responsiveLayout="scroll"
                [showCurrentPageReport]="true"
                [rowHover]="true"
                [globalFilterFields]="['name', 'rank', 'email', 'phone']"
            >
                <ng-template pTemplate="caption">
                    <h5>Danh sách khách hàng</h5>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">
                            Khách hàng
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="phone">
                            Số điện thoại
                            <p-sortIcon field="phone"></p-sortIcon>
                        </th>
                        <th pSortableColumn="email">
                            Email
                            <p-sortIcon field="email"></p-sortIcon>
                        </th>
                        <th pSortableColumn="rank">
                            Hạng thành viên
                            <p-sortIcon field="rank"></p-sortIcon>
                        </th>
                        <th pSortableColumn="totalOrder">
                            Tổng đơn hàng
                            <p-sortIcon field="totalOrder"></p-sortIcon>
                        </th>
                        <th pSortableColumn="totalSpent">
                            Tổng chi tiêu
                            <p-sortIcon field="totalSpent"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-profileItem>
                    <tr
                        (click)="goToDetail(profileItem)"
                        class="cursor-pointer"
                    >
                        <td>
                            <span class="hover:text-blue-500">
                                {{ profileItem.name }}
                            </span>
                        </td>
                        <td>
                            <span>
                                {{ profileItem.phone }}
                            </span>
                        </td>
                        <td>
                            <span>
                                {{ profileItem.email ?? "No data" }}
                            </span>
                        </td>
                        <td>
                            <span>
                                {{ profileItem.rank ?? "No data" }}
                            </span>
                        </td>
                        <td>
                            <span>
                                {{ profileItem.totalBills }}
                            </span>
                        </td>
                        <td>
                            <span>
                                {{ profileItem.totalPayment | currency: "VND" }}
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-paginator
                styleClass="w-full"
                class="w-full"
                [first]="first"
                [rows]="rows"
                [totalRecords]="totalRecords"
                [rowsPerPageOptions]="[10, 20, 30]"
                currentPageReportTemplate="{first} - {last} / {totalRecords}"
                [showCurrentPageReport]="true"
                (onPageChange)="onPageChange($event)"
            >
                ></p-paginator
            >
        </div>
    </div>
</div>
