<div class="flex flex-wrap xl:flex-nowrap xl:gap-3">
    <div
        class="card basis-full border-b-4 border-b-blue-500 shadow-sm xl:basis-1/4"
    >
        <div class="mb-3 flex justify-between">
            <div
                class="flex justify-center rounded-full bg-blue-100 align-middle"
                [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
            >
                <i class="pi pi-users self-center text-xl text-blue-500"></i>
            </div>
            <div>
                <span class="mb-3 block text-sm font-medium text-gray-500"
                    >Tổng số thành viên</span
                >
                <div class="text-900 text-xl font-medium">1000000</div>
            </div>
            <div>
                <i class="pi pi-exclamation-circle text-sm"></i>
            </div>
        </div>
    </div>
    <div
        class="card basis-full border-b-4 border-b-blue-500 shadow-sm xl:basis-1/4"
    >
        <div class="mb-3 flex justify-between">
            <div
                class="flex justify-center rounded-full bg-blue-100 align-middle"
                [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
            >
                <i class="pi pi-users self-center text-xl text-blue-500"></i>
            </div>
            <div>
                <span class="mb-3 block text-sm font-medium text-gray-500"
                    >Tổng số thành viên</span
                >
                <div class="text-900 text-xl font-medium">1000000</div>
            </div>
            <div>
                <i class="pi pi-exclamation-circle text-sm"></i>
            </div>
        </div>
    </div>
    <div
        class="card basis-full border-b-4 border-b-blue-500 shadow-sm xl:basis-1/4"
    >
        <div class="mb-3 flex justify-between">
            <div
                class="flex justify-center rounded-full bg-blue-100 align-middle"
                [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
            >
                <i class="pi pi-users self-center text-xl text-blue-500"></i>
            </div>
            <div>
                <span class="mb-3 block text-sm font-medium text-gray-500"
                    >Tổng số thành viên</span
                >
                <div class="text-900 text-xl font-medium">1000000</div>
            </div>
            <div>
                <i class="pi pi-exclamation-circle text-sm"></i>
            </div>
        </div>
    </div>
    <div
        class="card basis-full border-b-4 border-b-blue-500 shadow-sm xl:basis-1/4"
    >
        <div class="mb-3 flex justify-between">
            <div
                class="flex justify-center rounded-full bg-blue-100 align-middle"
                [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
            >
                <i class="pi pi-users self-center text-xl text-blue-500"></i>
            </div>
            <div>
                <span class="mb-3 block text-sm font-medium text-gray-500"
                    >Tổng số thành viên</span
                >
                <div class="text-900 text-xl font-medium">1000000</div>
            </div>
            <div>
                <i class="pi pi-exclamation-circle text-sm"></i>
            </div>
        </div>
    </div>
</div>
