<div
    id="layout-footer" class="py-3 text-center"
>
    <!-- <a href="https://xyz.vn/"
        ><img
            src="assets/layout/images/{{
                layoutService.config.colorScheme === 'light'
                    ? 'logo-dark'
                    : 'logo-white'
            }}.svg"
            alt="logo-bc"
            class="h-8"
    /></a> -->
    <p class="text-sm">
        Copyright
        <a class="hover:text-blue-500" href="https://xyz.vn/">xyz</a>
        @<span class="italic">{{ date | date: "YYYY" }}</span>
    </p>
</div>
