<div>
    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0 border-b-4 border-b-blue-500 shadow-sm">
                <div class="flex justify-between mb-3">
                    <div
                        class="flex align-middle justify-center bg-blue-100 rounded-full"
                        [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                    >
                        <i
                            class="pi pi-users text-blue-500 text-xl self-center"
                        ></i>
                    </div>
                    <div>
                        <span
                            class="block text-sm font-medium mb-3 text-gray-500"
                            >Tổng số thành viên</span
                        >
                        <div class="text-900 font-medium text-xl">1000000</div>
                    </div>
                    <div>
                        <i class="pi pi-exclamation-circle text-sm"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0 border-b-4 border-b-blue-500 shadow-sm">
                <div class="flex justify-between mb-3">
                    <div
                        class="flex align-middle justify-center bg-blue-100 rounded-full"
                        [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                    >
                        <i
                            class="pi pi-users text-blue-500 text-xl self-center"
                        ></i>
                    </div>
                    <div>
                        <span
                            class="block text-sm font-medium mb-3 text-gray-500"
                            >Không mua hàng 90 ngày gần đây</span
                        >
                        <div class="text-900 font-medium text-xl">700,000</div>
                    </div>
                    <div>
                        <i class="pi pi-exclamation-circle text-sm"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0 border-b-4 border-b-blue-500 shadow-sm">
                <div class="flex justify-between mb-3">
                    <div
                        class="flex align-middle justify-center bg-blue-100 rounded-full"
                        [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                    >
                        <i
                            class="pi pi-users text-blue-500 text-xl self-center"
                        ></i>
                    </div>
                    <div>
                        <span
                            class="block text-sm font-medium mb-3 text-gray-500"
                            >Số dư tài khoản</span
                        >
                        <div class="text-900 font-medium text-xl">0đ</div>
                    </div>
                    <div>
                        <i class="pi pi-exclamation-circle text-sm"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0 border-b-4 border-b-blue-500 shadow-sm">
                <div class="flex justify-between mb-3">
                    <div
                        class="flex align-middle justify-center bg-blue-100 rounded-full"
                        [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                    >
                        <i
                            class="pi pi-users text-blue-500 text-xl self-center"
                        ></i>
                    </div>
                    <div>
                        <span
                            class="block text-sm font-medium mb-3 text-gray-500"
                            >Tổng số thành viên mới</span
                        >
                        <div class="text-900 font-medium text-xl">1,000</div>
                    </div>
                    <div>
                        <i class="pi pi-exclamation-circle text-sm"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0 border-b-4 border-b-blue-500 shadow-sm">
                <div class="flex justify-between mb-3">
                    <div
                        class="flex align-middle justify-center bg-blue-100 rounded-full"
                        [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                    >
                        <i
                            class="pi pi-users text-blue-500 text-xl self-center"
                        ></i>
                    </div>
                    <div>
                        <span
                            class="block text-sm font-medium mb-3 text-gray-500"
                            >Các chiến dịch đang hoạt động</span
                        >
                        <div class="text-900 font-medium text-xl">12</div>
                    </div>
                    <div>
                        <i class="pi pi-exclamation-circle text-sm"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0 border-b-4 border-b-blue-500 shadow-sm">
                <div class="flex justify-between mb-3">
                    <div
                        class="flex align-middle justify-center bg-blue-100 rounded-full"
                        [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                    >
                        <i
                            class="pi pi-users text-blue-500 text-xl self-center"
                        ></i>
                    </div>
                    <div>
                        <span
                            class="block text-sm font-medium mb-3 text-gray-500"
                            >Số yêu cầu dịch vụ chưa xử lý</span
                        >
                        <div class="text-900 font-medium text-xl">13</div>
                    </div>
                    <div>
                        <i class="pi pi-exclamation-circle text-sm"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0 border-b-4 border-b-blue-500 shadow-sm">
                <div class="flex justify-between mb-3">
                    <div
                        class="flex align-middle justify-center bg-blue-100 rounded-full"
                        [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                    >
                        <i
                            class="pi pi-users text-blue-500 text-xl self-center"
                        ></i>
                    </div>
                    <div>
                        <span
                            class="block text-sm font-medium mb-3 text-gray-500"
                            >Tổng số khách hàng mới</span
                        >
                        <div class="text-900 font-medium text-xl">1,000</div>
                    </div>
                    <div>
                        <i class="pi pi-exclamation-circle text-sm"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0 border-b-4 border-b-blue-500 shadow-sm">
                <div class="flex justify-between mb-3">
                    <div
                        class="flex align-middle justify-center bg-blue-100 rounded-full"
                        [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                    >
                        <i
                            class="pi pi-users text-blue-500 text-xl self-center"
                        ></i>
                    </div>
                    <div>
                        <span
                            class="block text-sm font-medium mb-3 text-gray-500"
                            >Mã ưu đãi được sử dụng</span
                        >
                        <div class="text-900 font-medium text-xl">12</div>
                    </div>
                    <div>
                        <i class="pi pi-exclamation-circle text-sm"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0 border-b-4 border-b-blue-500 shadow-sm">
                <div class="flex justify-between mb-3">
                    <div
                        class="flex align-middle justify-center bg-blue-100 rounded-full"
                        [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                    >
                        <i
                            class="pi pi-users text-blue-500 text-xl self-center"
                        ></i>
                    </div>
                    <div>
                        <span
                            class="block text-sm font-medium mb-3 text-gray-500"
                            >Chỉ tiêu cho chiến dịch</span
                        >
                        <div class="text-900 font-medium text-xl">0đ</div>
                    </div>
                    <div>
                        <i class="pi pi-exclamation-circle text-sm"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div>
                <div class="block justify-between align-middle gap-5 xl:flex">
                    <div class="card xl:basis-3/5">
                        <div class="flex justify-between align-middle mb-5">
                            <h5>
                                Doanh thu từ khách hàng cũ và khách hàng mới
                            </h5>
                            <p-dropdown
                                [options]="times"
                                [(ngModel)]="selectedTime.name"
                                optionLabel="name"
                            ></p-dropdown>
                        </div>
                        <p-chart
                            type="bar"
                            [data]="chartData"
                            [options]="chartOptions"
                        ></p-chart>
                    </div>
                    <div class="card xl:basis-2/5">
                        <h5>Doanh thu đến từ khách hàng cũ</h5>
                        <p-chart
                            type="doughnut"
                            [data]="chartDataDoughnut"
                            [options]="chartOptionsDoughnut"
                        >
                        </p-chart>
                    </div>
                </div>
                <div class="block justify-between align-middle gap-5 xl:flex">
                    <div class="card xl:basis-1/2">
                        <div class="flex justify-between align-middle mb-5">
                            <h5>Chiến dịch đang hoạt động</h5>
                            <p-dropdown
                                [options]="filters"
                                [(ngModel)]="selectedFilter.name"
                                optionLabel="name"
                            ></p-dropdown>
                        </div>
                        <p-table
                            [value]="campaigns"
                            [paginator]="true"
                            [rows]="4"
                            responsiveLayout="scroll"
                            [rowHover]="true"
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Campaign</th>
                                    <th pSortableColumn="name">
                                        Thời gian hoạt động
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-campaign>
                                <tr>
                                    <td class="w-1/3">
                                        {{ campaign.name }}
                                    </td>
                                    <td class="w-2/3">
                                        {{
                                            campaign.startAt
                                                | date: "dd 'thg' MM, hh:mm"
                                        }}
                                        -
                                        {{
                                            campaign.endAt
                                                | date: "dd 'thg' MM, hh:mm"
                                        }}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="card xl:basis-1/2">
                        <div class="flex justify-between align-middle mb-5">
                            <h5>Chiến dịch chờ hoạt động</h5>
                            <p-dropdown
                                [options]="filters"
                                [(ngModel)]="selectedFilter.name"
                                optionLabel="name"
                            ></p-dropdown>
                        </div>
                        <p-table
                            [value]="campaigns"
                            [paginator]="true"
                            [rows]="4"
                            responsiveLayout="scroll"
                            [rowHover]="true"
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Campaigns</th>
                                    <th pSortableColumn="name">
                                        Thời gian hoạt động
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-campaign>
                                <tr>
                                    <td class="w-1/3">
                                        {{ campaign.name }}
                                    </td>
                                    <td class="w-2/3">
                                        {{
                                            campaign.startAt
                                                | date: "dd 'thg' MM, hh:mm"
                                        }}
                                        -
                                        {{
                                            campaign.endAt
                                                | date: "dd 'thg' MM, hh:mm"
                                        }}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <div class="justify-center align-middle flex">
                    <div class="card basis-full">
                        <div class="flex justify-between align-middle mb-5">
                            <h5>Yêu cầu khách hàng</h5>
                            <p-dropdown
                                [options]="filtersReq"
                                [(ngModel)]="selectedFilterReq.name"
                                optionLabel="name"
                            ></p-dropdown>
                        </div>
                        <p-table
                            [value]="customersRequests"
                            [paginator]="true"
                            [rows]="3"
                            responsiveLayout="scroll"
                            [rowHover]="true"
                        >
                            <ng-template pTemplate="body" let-customersRequests>
                                <tr>
                                    <td class="flex justify-between">
                                        <div>
                                            <span>
                                                {{ customersRequests.title }}
                                            </span>
                                            <br />
                                            <span class="text-sm text-gray-400"
                                                ><i
                                                    class="pi pi-user text-sm mr-1"
                                                ></i>
                                                {{ customersRequests.name }}
                                            </span>
                                        </div>
                                        <div
                                            class="self-end text-sm text-gray-400"
                                        >
                                            <span
                                                ><i
                                                    class="pi pi-clock text-sm mr-1"
                                                ></i
                                                >{{
                                                    customersRequests.createAt
                                                        | date
                                                            : "dd 'thg' MM, hh:mm"
                                                }}</span
                                            >
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span
                                            [ngClass]="
                                                customersRequests.status ==
                                                'pending'
                                                    ? 'bg-blue-50 text-blue-500 border-blue-500'
                                                    : customersRequests.status ==
                                                        ''
                                                      ? 'bg-orange-50 text-orange-500 border-orange-500'
                                                      : 'bg-gray-50 text-gray-500 border-gray-500'
                                            "
                                            class="rounded-full px-3 py-2 border"
                                        >
                                            {{
                                                customersRequests.status ==
                                                "pending"
                                                    ? "Đang xử lí"
                                                    : customersRequests.status ==
                                                        "finished"
                                                      ? "Hoàn thành"
                                                      : "Chờ xử lí"
                                            }}
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>

                <div class="block justify-between align-middle gap-5 xl:flex">
                    <div class="card xl:basis-1/2">
                        <h5>Khách hàng mới</h5>
                        <p-chart
                            type="line"
                            [data]="chartDataLineCustomer"
                            [options]="chartOptionsLineCustomer"
                        ></p-chart>
                    </div>
                    <div class="card xl:basis-1/2">
                        <h5>Email và SMS</h5>
                        <p-chart
                            type="line"
                            [data]="chartDataLineEmailSms"
                            [options]="chartOptionsLineEmailSms"
                        ></p-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="card">
        <div class="flex align-middle justify-between mb-4">
            <h5>Notifications</h5>
            <div>
                <button
                    pButton
                    type="button"
                    icon="pi pi-ellipsis-v"
                    class="p-button-rounded p-button-text p-button-plain"
                    (click)="menu.toggle($event)"
                ></button>
                <p-menu #menu [popup]="true" [model]="items"></p-menu>
            </div>
        </div>

        <span class="block text-600 font-medium mb-3">TODAY</span>
        <ul class="p-0 mx-0 mt-0 mb-4 list-none">
            <li
                class="flex align-middle py-2 border-bottom-1 surface-border"
            >
                <div
                    class="w-3rem h-3rem flex align-middle justify-center bg-blue-100 border-circle mr-3 flex-shrink-0"
                >
                    <i class="pi pi-dollar text-xl text-blue-500"></i>
                </div>
                <span class="text-900 line-height-3"
                    >Richard Jones
                    <span class="text-700">
                        has purchased a blue t-shirt for
                        <span class="text-blue-500">79$</span></span
                    >
                </span>
            </li>
            <li class="flex align-middle py-2">
                <div
                    class="w-3rem h-3rem flex align-middle justify-center bg-orange-100 border-circle mr-3 flex-shrink-0"
                >
                    <i class="pi pi-download text-xl text-orange-500"></i>
                </div>
                <span class="text-700 line-height-3"
                    >Your request for withdrawal of
                    <span class="text-blue-500 font-medium">2500$</span>
                    has been initiated.</span
                >
            </li>
        </ul>

        <span class="block text-600 font-medium mb-3">YESTERDAY</span>
        <ul class="p-0 m-0 list-none">
            <li
                class="flex align-middle py-2 border-bottom-1 surface-border"
            >
                <div
                    class="w-3rem h-3rem flex align-middle justify-center bg-blue-100 border-circle mr-3 flex-shrink-0"
                >
                    <i class="pi pi-dollar text-xl text-blue-500"></i>
                </div>
                <span class="text-900 line-height-3"
                    >Keyser Wick
                    <span class="text-700">
                        has purchased a black jacket for
                        <span class="text-blue-500">59$</span></span
                    >
                </span>
            </li>
            <li
                class="flex align-middle py-2 border-bottom-1 surface-border"
            >
                <div
                    class="w-3rem h-3rem flex align-middle justify-center bg-pink-100 border-circle mr-3 flex-shrink-0"
                >
                    <i class="pi pi-question text-xl text-pink-500"></i>
                </div>
                <span class="text-900 line-height-3"
                    >Jane Davis<span class="text-700">
                        has posted a new questions about your product.</span
                    ></span
                >
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="flex justify-between align-middle mb-5">
            <h5>Best Selling Products</h5>
            <div>
                <button
                    pButton
                    type="button"
                    icon="pi pi-ellipsis-v"
                    class="p-button-rounded p-button-text p-button-plain"
                    (click)="menu.toggle($event)"
                ></button>
                <p-menu #menu [popup]="true" [model]="items"></p-menu>
            </div>
        </div>
        <ul class="list-none p-0 m-0">
            <li
                class="flex flex-column md:flex-row md:align-middle md:justify-between mb-4"
            >
                <div>
                    <span class="text-900 font-medium mr-2 mb-1 md:mb-0"
                        >Space T-Shirt</span
                    >
                    <div class="mt-1 text-600">Clothing</div>
                </div>
                <div class="mt-2 md:mt-0 flex align-middle">
                    <div
                        class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                        [ngStyle]="{ height: '8px' }"
                    >
                        <div
                            class="bg-orange-500 h-full"
                            [ngStyle]="{ width: '50%' }"
                        ></div>
                    </div>
                    <span class="text-orange-500 ml-3 font-medium"
                        >%50</span
                    >
                </div>
            </li>
            <li
                class="flex flex-column md:flex-row md:align-middle md:justify-between mb-4"
            >
                <div>
                    <span class="text-900 font-medium mr-2 mb-1 md:mb-0"
                        >Portal Sticker</span
                    >
                    <div class="mt-1 text-600">Accessories</div>
                </div>
                <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-middle">
                    <div
                        class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                        [ngStyle]="{ height: '8px' }"
                    >
                        <div
                            class="bg-cyan-500 h-full"
                            [ngStyle]="{ width: '16%' }"
                        ></div>
                    </div>
                    <span class="text-cyan-500 ml-3 font-medium">%16</span>
                </div>
            </li>
            <li
                class="flex flex-column md:flex-row md:align-middle md:justify-between mb-4"
            >
                <div>
                    <span class="text-900 font-medium mr-2 mb-1 md:mb-0"
                        >Supernova Sticker</span
                    >
                    <div class="mt-1 text-600">Accessories</div>
                </div>
                <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-middle">
                    <div
                        class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                        [ngStyle]="{ height: '8px' }"
                    >
                        <div
                            class="bg-pink-500 h-full"
                            [ngStyle]="{ width: '67%' }"
                        ></div>
                    </div>
                    <span class="text-pink-500 ml-3 font-medium">%67</span>
                </div>
            </li>
            <li
                class="flex flex-column md:flex-row md:align-middle md:justify-between mb-4"
            >
                <div>
                    <span class="text-900 font-medium mr-2 mb-1 md:mb-0"
                        >Wonders Notebook</span
                    >
                    <div class="mt-1 text-600">Office</div>
                </div>
                <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-middle">
                    <div
                        class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                        [ngStyle]="{ height: '8px' }"
                    >
                        <div
                            class="bg-green-500 h-full"
                            [ngStyle]="{ width: '35%' }"
                        ></div>
                    </div>
                    <span class="text-green-500 ml-3 font-medium">%35</span>
                </div>
            </li>
            <li
                class="flex flex-column md:flex-row md:align-middle md:justify-between mb-4"
            >
                <div>
                    <span class="text-900 font-medium mr-2 mb-1 md:mb-0"
                        >Mat Black Case</span
                    >
                    <div class="mt-1 text-600">Accessories</div>
                </div>
                <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-middle">
                    <div
                        class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                        [ngStyle]="{ height: '8px' }"
                    >
                        <div
                            class="bg-purple-500 h-full"
                            [ngStyle]="{ width: '75%' }"
                        ></div>
                    </div>
                    <span class="text-purple-500 ml-3 font-medium"
                        >%75</span
                    >
                </div>
            </li>
            <li
                class="flex flex-column md:flex-row md:align-middle md:justify-between mb-4"
            >
                <div>
                    <span class="text-900 font-medium mr-2 mb-1 md:mb-0"
                        >Robots T-Shirt</span
                    >
                    <div class="mt-1 text-600">Clothing</div>
                </div>
                <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-middle">
                    <div
                        class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                        [ngStyle]="{ height: '8px' }"
                    >
                        <div
                            class="bg-teal-500 h-full"
                            [ngStyle]="{ width: '40%' }"
                        ></div>
                    </div>
                    <span class="text-teal-500 ml-3 font-medium">%40</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="card">
        <p-table
            [value]="products"
            [paginator]="true"
            [rows]="5"
            responsiveLayout="scroll"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Image</th>
                    <th pSortableColumn="name">
                        Name <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="price">
                        Price <p-sortIcon field="price"></p-sortIcon>
                    </th>
                    <th>View</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td style="width: 15%; min-width: 5rem">
                        <img
                            src="assets/pages/images/product/{{
                                product.image
                            }}"
                            class="shadow-4"
                            alt="{{ product.name }}"
                            width="50"
                        />
                    </td>
                    <td style="width: 35%; min-width: 7rem">
                        {{ product.name }}
                    </td>
                    <td style="width: 35%; min-width: 8rem">
                        {{ product.price | currency: "USD" }}
                    </td>
                    <td style="width: 15%">
                        <button
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-search"
                            class="p-button p-component p-button-text p-button-icon-only"
                        ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div> -->
</div>
