.card {
    background: var(--surface-card);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;

    // &:last-child {
    //     margin-bottom: 0;
    // }
    canvas {
        // height: 40vh !important;
        width: 100% !important;
    }
}

.button-init {
    .p-button {
        opacity: 100;
    }
}

.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 8px; /* Adjust the width for vertical scrollbar */
    height: 8px; /* Adjust the height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #b6b6b662; /* Color of the track */
    border-radius: 20px; /* Roundness of the scrollbar handle */
}

::-webkit-scrollbar-thumb {
    background: #212121ab; /* Color of the scrollbar handle */
    border-radius: 20px; /* Roundness of the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
    background: #0086d3; /* Color of the scrollbar handle on hover */
}
.p-datatable-wrapper {
    max-height: calc(100vh - 280px);
}
.p-datatable .p-datatable-tbody > tr > td {
    padding: 1rem !important;
}
/* Firefox */
// * {
//     scrollbar-width: thin;
//     scrollbar-color: #888 #f1f1f1;
// }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
