.page {
  padding: 16px 16px 96px 16px;
}

.section-container {
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 24px;
}
.notification-content {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.notification-content.expanded {
  -webkit-line-clamp: unset;
  line-clamp: unset;
  display: block;
}
